
.bio {
    padding-top:20px!!important;
    margin:30px!important;
    font-size: 14px!important;

}

.container {
    padding:0px!important;
   

}

.col-sm {
    padding-top:25px!important;
    margin-right: 20px!important;
    margin-left: 20px!important;
    text-align:center!important;

}

.photos {
    color: #f1ba4c!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    position: relative!important;
    text-align:center!important;

}

.bio-image {
    background-image: url('https://i.imgur.com/78tB9QU.jpg');
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    -webkit-background-size: contain!important;
    -moz-background-size: contain!important;
    -o-background-size: contain!important;
    height: 250px;
 
    


}

.fas{
    padding-right: 10px!important;
}


.card-body {
    margin-top: 0px!important;
    padding-top: 0px!important;
}