.footer-copyright {
    background-color: #060606!important;
    font-size: 8px!important;
    color: white!important;
    padding-top:40px!important;
    margin-top: 0px!important;
    margin-bottom:0px!important;
    text-align:center;
    width:100%!important;

}

.fa-heart{
    padding: 3px!important;
    color: #f1ba4c!important;
}

a {
    color: #f1ba4c!important;
}

.footer-icons a {
    background-color: #060606!important;
    padding-right: 50px!important;
    padding-left:-10px!important;
    color: #f1ba4c!important;
    font-size: 12px!important;   
   }
 
 