.footer-copyright {
    background-color: #060606!important;
    font-size: 10px!important;
    color: white!important;
    margin-top: 0px!important;
    margin-bottom:0px!important;
}

.fa-heart{
    padding: 2px!important;
}

a {
    color: white!important;
}

.footer-icons a {
    padding-right: 20px!important;
    color: white!important;
    font-size: 12px;
   }
 