h1 {
  font-size: 30px!important;
  color: white!important;
}
  
h4 {
  font-size: 16px!important;
  font-weight: 100!important;
  color: white!important;
}

.jumbotron {
 background-image: url('https://i.imgur.com/UM4wI0I.png');
 background-color: #060606!important;
 background-position: center!important;
 background-repeat: no-repeat!important;
 background-size: cover!important;
 -webkit-background-size: cover!important;
 -moz-background-size: cover!important;
 -o-background-size: cover!important;
 max-height: 100vh!important;
 min-height: 80vh!important;
 margin-top: 2px!important;
 margin-bottom: 2px!important;
}


.container {
   position: relative!important;
   text-align: center!important;
   width:90%!important;
   padding-top:1%!important;

  
}

.fab {
   padding-right: 10px;
   padding-top: 20px;
   color: white!important;
   font-size: 20px;
  }

  .fa-barcode {
    color:white!important;
    font-size:60px!important;
    padding-bottom:10px!important;
    padding-top:60px!important;
  }
  
  .btn-outline-warning {
    margin-top:10px!important;
    font-size: 14px!important;
  }
